@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

body {
  margin: 20px;
  background-color: aquamarine;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.seat {
  font-family: 'Noto Sans JP', sans-serif;
  background: #fff;
  border: none;
  border-radius: 10px;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  height: 75px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
  text-align: center;
  width: 110px;
}

.noneSeat {
  background: #555;
  border: none;
  border-radius: 10px;
  float: left;
  height: 75px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 0;
  width: 110px;
}

.seat:focus {
  outline: none;
}

.viewChange{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #333333;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
}

.Button:hover {
  background-color: #e0e0e0;
}

.Button:active {
  background-color: #d0d0d0;
}

.kbd-navigation .seat:focus {
  background: #ddd;
}

.root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 400px;
  height: 400px;
}

.spinner span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
}

.spinner.type1 {
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  border-color: #fff rgba(255, 255, 255, 0.12) rgba(255, 255, 255, 0.12);
  -webkit-animation: spinner1_1 1.5s infinite linear forwards;
          animation: spinner1_1 1.5s infinite linear forwards;
}

.spinner.type1 span {
  animation: spinner_loading_text 1.5s infinite linear forwards reverse;
}

@-webkit-keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner1_1 {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spinner_loading_text {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}